---
import Layout from "../../layouts/Layout.astro";
import { t } from 'astro-i18n-plus';
export function getStaticPaths(){
    return [
        {
            params:{
                id:1
            }
        },
        {
            params:{
                id:2
            }
        },
        {
            params:{
                id:undefined
            }
        }
    ]
}
const { id } = Astro.params;
---

<Layout title="文章">
    <h1>{t('articles.title')}</h1>
    <p>id:{id}</p>
</Layout>
<script>
    import {connect} from '../../utils/com'
    connect()
</script>
