---
import Layout from "../../layouts/Layout.astro";
import { 
    t,
} from "astro-i18n-plus";
---

<Layout title="评论">
    <h3>{t('comments.title')}:</h3>
    <ul>
        <li>1.</li>
        <li>2.</li>
    </ul>
</Layout>
